body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    font-family: "Merriweather", "SolaimanLipi", sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.moblie-search-section {
    display: none;
}
.shop-category-tab.baner-video {
    padding: 2px;
}
.shop-category-tab.baner-video .tab-menu {
    margin-bottom: 15px;
}
.cart-item p.shop_name {
    margin-bottom: 4px;
    margin-top: -6px;
}
div#product_video iframe {
    width: 100%;
    height: 450px;
}
.cart-item p.shop_name .badge {
    padding: 4px;
    background: var(--theme-color);
}

section.sub-categories-section {
    padding-top: 50px;
}

section.shop-advertisements-section {
    overflow: hidden;
    padding-bottom: 0;
    margin-top: 4.5rem;
}
.ssp-hero .ssp-hero-thumb iframe {
    width: 100%;
    height: 400px;
}
section.shop-advertisements-section .list {
    display: block;
    border: 2px solid #555;
    margin-bottom: 10px;
}

section.shop-advertisements-section .list img {
    width: 100%;
    height: 145px;
}

.ssp-hero .ssp-hero-thumb {
    position: relative;
}

.youtube-video-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.youtube-video-icon:after {
    position: absolute;
    background: #000;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.youtube-video-icon a i {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
    border: 1px solid var(--theme-color);
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: var(--theme-color);
    margin-left: -25px;
    margin-top: -25px;
    line-height: 48px;
    border-radius: 50%;
}

#preloader {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#preloader .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--theme-color);
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 80px;
    z-index: 9999;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.share-items {
    margin-top: 25px;
}

.header-navbar-active span.account-access img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-top: -20px;
}

.section-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}

.shop-list-section .shop-search {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.shop-list-section .shop-search a.reset-search {
    background: red;
    display: none;
    padding: 14px 25px;
    color: #fff;
    border-radius: 3px;
}

.shop-list-section .shop-search-result .breadcrumb {
    background: #fff;
    overflow: hidden;
    padding: 0 15px;
}

.shop-list-section .shop-search-result .breadcrumb li {
    color: #333;
}

.shop-list-section .shop-search-result {
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.ssp-products .cat_name,
.ssp-products .service_cat_name {
    background: #ffffff;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
}

.cart-item.custom-control {
    padding-left: 0;
}

.cart-item img {
    width: 100px;
    height: 80px;
    margin-right: 5px;
}

i.remove-cart-item {
    cursor: pointer;
}

.single-product .product-info p.cart-btn,
.single-product .product-info p.wishlist-btn {
    transition: all .5s;
}

.cart-item {
    position: relative;
    overflow: hidden;
}

.cart-item .shop-name {
    position: absolute;
    right: 0;
    bottom: 0px;
}

#show-customer-list ul {
    background: #555;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    display: block;
}

#show-customer-list ul li {
    color: #fff;
    border-bottom: 1px solid #ddd;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    text-align: left;
    cursor: pointer;
    padding-bottom: 3px;
}

#show-customer-list ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#show-customer-list ul li span {
    font-size: 15px;
    margin-left: 5px;
}

.sidebar-search label {
    padding-left: 10px !important;
}

.sidebar-search input {
    padding-left: 10px !important;
    width: 96.5% !important;
    overflow: hidden;
}

.shop-baner-image {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 500px;
    background-color: #ddd;
}

.shop-baner-image img {
    width: 100%;
    height: 500px;
}

.ssp-hero-info.shop-details {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.ssp-hero-info.shop-details .ssp-logo {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.ssp-hero-info.shop-details .ssp-logo img {
    width: 100px;
    height: auto;
}

.ssp-hero-info.shop-details::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.8;
    top: 0;
    background: #333;
    left: 0;
    z-index: -1;
}

.ssp-hero .ssp-hero-info {
    width: 30%;
    float: right;
    padding: 20px;
    height: 100%;
}

.call-us-btn {
    overflow: hidden;
}

.call-us-btn a {
    background: var(--theme-color);
    display: inline-block;
    color: #fff;
    padding: 4px 12px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
}

.call-us-btn a:hover {
    color: #ffffff;
}

.call-us-btn a i {
    font-size: 14px;
}

.breadcrumb-area .breadcrumbs ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 5px;
    color: #ffffff;
    font-style: italic;
}

.breadcrumb-area .breadcrumbs ul li a {
    color: #ffffff;
}

.breadcrumb-area {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.breadcrumb-area .breadcrumbs h1 {
    color: #fff;
    text-transform: uppercase;
}

.breadcrumb-area .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

.breadcrumb-area .breadcrumbs {
    margin-top: 60px;
}

.breadcrumb-area .breadcrumbs ul {
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.breadcrumb-area .breadcrumbs ul:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    background: var(--theme-color);
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
}


/* Theme Color Define*/

a:hover {
    color: var(--theme-color);
}

.feat-categories .single-cat a span i {
    color: var(--theme-color);
}

.btn,
.btn-large,
.btn-small,
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background: var(--theme-color);
}

.header-section .user-wrapper ul li a .cart .item-count {
    background: var(--theme-color);
}

.cart-item .shop-name.badge {
    background-color: var(--theme-color);
}

.page-item.active .page-link {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.customer-profile .list-group-item.active {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.slider-section .sliders .owl-nav button span {
    background: var(--theme-color);
}

.single-product {
    box-shadow: 0 0 0px #999;
    border-radius: 5px;
    transition: all .5s;
    position: relative;
}

.single-product span.badge.stock-badge {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
}

.single-product .product-info p.cart-btn:hover {
    background: #ffffff;
    color: var(--theme-color);
}

.single-product .product-info p.cart-btn {
    background: var(--theme-color);
    color: #fff;
    border: 1px solid var(--theme-color);
}

.single-product .product-info p.wishlist-btn:hover {
    background: var(--theme-color);
    color: #ffffff;
}

.single-product .product-info p.wishlist-btn {
    background: #ffffff;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 5px 0;
}

.ssp-hero .ssp-hero-info p i {
    color: var(--theme-color);
}

.section-title.styled h3 {
    margin: 0;
    color: #4a4a4a;
    padding: 16px 0;
    font-size: 22px;
    border-radius: 0;
    text-transform: uppercase !important;
    font-weight: 500;
}

.section-title.styled {
    background: transparent;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
}

.section-title.styled .view-all {
    float: right;
    margin-top: -30px;
    padding-right: 8px;
    border: 2px solid #2c2475;
    border-radius: 6px;
}

.section-title.styled .view-all a {
    background: #fff;
    display: block;
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
}

.ssp-product-section .ssp-sidebar ul li {
    position: relative;
}

.ssp-product-section .ssp-sidebar ul li a {
    padding: 15px;
    transition: all 0.5s;
    border-bottom: 1px solid #ddd;
}

.ssp-product-section .ssp-sidebar ul li a:hover {
    border-radius: 0;
    background-color: #ddd;
}

.ssp-product-section .ssp-sidebar ul>li>ul.subcategory {
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    visibility: hidden;
    right: -260px;
    z-index: 9999;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.ssp-product-section .ssp-sidebar ul>li>ul.subcategory li {
    position: relative;
}

.ssp-product-section .ssp-sidebar ul>li>ul.subcategory>li>ul.second_sub {
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    visibility: hidden;
    right: -260px;
    z-index: 9999;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.ssp-product-section .ssp-sidebar ul>li:hover>ul.subcategory {
    visibility: visible;
    opacity: 1;
}

.ssp-product-section .ssp-sidebar ul>li>ul.subcategory li:hover ul.second_sub {
    visibility: visible;
    opacity: 1;
}

.single-product.service-item {
    padding: 0;
}

.single-product.service-item .product-thumb {
    height: 220px;
    overflow: hidden;
}

.single-product.service-item .product-thumb img {
    width: 100%;
}

.single-product.service-item .product-info h5 {
    font-size: 20px;
}

.single-product.service-item .product-info {
    padding: 10px;
}

.service-item-list {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #999;
    margin-bottom: 30px;
    position: relative;
}

.service-item-list img {
    width: 100%;
    height: 175px;
}

h4.sidebar-title {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    padding: 13px;
    background: var(--theme-color);
    color: #fff;
}

.single-product .used-product-badge {
    position: absolute;
    background: var(--theme-color);
    z-index: 999;
    padding: 0px 16px;
    color: #fff;
    border-radius: 3px;
    top: 0;
    left: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.service-item-list h3 {
    font-size: 22px;
    margin-top: 0;
    text-transform: uppercase;
}

.service-item-list a:hover h3 {
    color: var(--theme-color);
}

.service-item-list .view-details {
    float: right;
}

.service-item-list .service-info {
    padding: 15px;
    overflow: hidden;
}

.service-item-list .view-details a {
    background: var(--theme-color);
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    color: #fff;
}

.service-item-list h3 span {
    color: #fff;
}

.service-details-section {
    overflow: hidden;
}

.service-details-section .service-details-wrapper {
    background: #fff;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 12px;
}

.service-details-section .ssp-hero .ssp-hero-thumb img {
    height: 305px;
}

.service-details-section .ssp-hero .ssp-hero-thumb {
    width: 69%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.service-details-section .ssp-hero .ssp-hero-info {
    width: 30%;
    padding: 15px;
    border-radius: 0;
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
    border-bottom: 0;
}

.service-details-section .ssp-hero .ssp-hero-info p {
    margin-bottom: 5px;
}

.service-details-section .service-details {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.service-details-section .service-details h2 {
    margin-top: 0;
    font-size: 1.8em;
    padding: 8px 6px;
    box-shadow: 1px 1px 5px 3px #eee;
}


/*blog post area start*/

.single-post {
    box-shadow: 0 0 10px #C8D6E5;
    padding-bottom: 15px;
    background: #ffffff;
}

.single-post .post-content-area {
    padding: 0 20px;
}

.single-post .post-thumb {
    position: relative;
    text-align: center;
}

.single-post .post-thumb img {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
}

.single-post .post-date {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 60px;
    height: 60px;
    z-index: 2;
    text-align: center;
}

.single-post.post-date:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    left: 0;
    top: 0;
    z-index: -1;
    transform: rotate(45deg);
}

.single-post .post-date p {
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
    line-height: 55px;
}

.single-post .post-meta ul li {
    display: inline-block;
    padding: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}

.single-post .post-meta ul li i.fa {
    color: var(--theme-color);
    font-size: 18px;
    margin-right: 5px;
}

.single-post .post-meta {
    text-align: center;
}

.single-post .post-title h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 7px;
    margin-top: 0;
}

.single-post .post-excerpt a {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--theme-color);
}


/*================================================================================
gallery section start
================================================================================
*/

.gallery-filter-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.gallery-filter-menu ul li {
    display: inline-block;
    border: 2px solid var(--theme-color);
    padding: 5px 20px;
    font-weight: 600;
    color: #333;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
}

.gallery-filter-menu ul li:hover {
    background: var(--theme-color);
}

.gallery-filter-menu ul li.active {
    background: var(--theme-color);
}

.gallerys {
    margin-top: 10px;
    overflow: hidden;
}

.gallerys .single-gallery {
    position: relative;
    width: 32.85%;
    display: block;
    float: left;
    margin: 2px;
    overflow: hidden;
}

.gallerys .single-gallery:hover .popup-icon {
    visibility: visible;
    transition: all 0.5s;
}

.gallerys .single-gallery:hover .popup-icon i.fa {
    bottom: 60%;
    visibility: visible;
    z-index: 1;
    transition: all 0.5s;
}

.gallerys .single-gallery:hover .overly-bg {
    visibility: visible;
    transition: all 0.5s;
}

.gallerys .single-gallery:hover img {
    transform: scale(1);
    transition: all 0.5s;
}

.gallerys .single-gallery:hover .project-title {
    bottom: 0;
    transition: all 0.5s;
}

.gallerys .single-gallery .overly-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.5s;
}

.gallerys .single-gallery .overly-bg:after {
    position: absolute;
    content: "";
    background: var(--theme-color);
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.gallerys .single-gallery .popup-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.gallerys .single-gallery .popup-icon i.fa {
    position: absolute;
    left: 47%;
    bottom: 0;
    font-size: 25px;
    color: var(--theme-color);
    transition: all 0.5s;
    visibility: hidden;
    z-index: -1;
}

.gallerys .single-gallery .popup-icon i.fa:hover {
    color: #fff;
    transition: all 0.5s;
}

.gallerys .single-gallery .project-title {
    position: absolute;
    left: 0;
    bottom: -100%;
    background: var(--theme-color);
    text-align: center;
    height: auto;
    width: 100%;
    transition: all 0.5s;
}

.gallerys .single-gallery img {
    transform: scale(1.2);
    transition: all 0.5s;
    height: 225px;
    width: 100%;
}

.gallerys .single-gallery .project-title h5 {
    font-size: 1.1em;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 0;
}

.gallerys .mix {
    display: none;
}


/**
================================================================================
gallery section end
================================================================================
*/

.ssp-product-section .ssp-sidebar .sidebar-search {
    overflow: hidden;
}

.ssp-product-section .ssp-sidebar .sidebar-search button {
    bottom: 25px;
}

.header-section .user-wrapper ul li a {
    padding: 31px 15px !important;
}

.header-section .user-wrapper ul li a span.badge {
    color: #fff;
    background: var(--theme-color);
}

span.badge.stock-badge {
    float: none;
    color: #fff;
}

.sticky-latest-news {
    background: #0B9444;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
}

.sticky-latest-news .container-fluid {
    padding-left: 0;
}

.sticky-latest-news marquee {
    float: left;
    width: 85%;
    padding: 11px 0 4px 0;
}

.sticky-latest-news span.la {
    background: #EC008C;
    color: #fff;
    float: left;
    padding: 10px;
    width: 15%;
    font-size: 15px;
    font-weight: 700;
    margin-right: 0;
    text-transform: uppercase;
}

.sticky-latest-news a {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
}

.sticky-latest-news a:hover {
    color: #EC008C;
    text-decoration: none;
}

.single-product .wishlist-cart-btn p {
    width: 47%;
    float: left;
    margin-right: 3%;
    border-radius: 3px;
    font-size: 14px;
}

.single-product .wishlist-cart-btn {
    overflow: hidden;
    width: 100%;
}

.single-product:hover .product-useful-info {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.single-product .product-useful-info {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 56%;
    transform: scale(0);
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 30px;
    color: #fff;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.single-product .product-useful-info p {
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
}

.single-product .product-useful-info::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: #000000;
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: -1;
}

.add-review .rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    width: 100%;
}

.add-review .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
}

.add-review .rating label:last-child {
    position: static;
}

.add-review .rating label:nth-child(1) {
    z-index: 5;
}

.add-review .rating label:nth-child(2) {
    z-index: 4;
}

.add-review .rating label:nth-child(3) {
    z-index: 3;
}

.add-review .rating label:nth-child(4) {
    z-index: 2;
}

.add-review .rating label:nth-child(5) {
    z-index: 1;
}

.add-review .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.add-review .rating label .icon {
    float: left;
    color: transparent;
    padding-left: 0;
    line-height: 50px;
    font-size: 30px;
}

.add-review .rating label .icon:before,
.add-review .rating label .icon:after {
    border: 0;
    visibility: hidden;
}

.add-review .rating label:last-child .icon {
    color: #000;
}

.add-review .rating:not(:hover) label input:checked~.icon,
.add-review .rating:hover label:hover input~.icon {
    color: var(--theme-color);
}

.add-review .rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px var(--theme-color);
}

.product-review-show {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
}

.product-review-show .review-list {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-review-show .review-list .author {
    width: 17%;
    overflow: hidden;
    float: left;
    margin-right: 3%;
}

.product-review-show .review-list .comment {
    float: left;
    overflow: hidden;
    width: 80%;
}

section.product-details-section .container {
    background: #fff;
    padding-top: 15px;
}

.product-review-show .review-list .author img {
    width: 70px;
    height: 65px;
    border-radius: 50%;
}

.product-review-show .review-list .author h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.product-review-show .review-list:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.product-review-show .review-list .comment .star {
    margin-bottom: 10px;
    color: var(--theme-color);
}

.wrap-sidebar {
    padding: 20px 20px 0 !important;
}
.wrap-sidebar button.op-sidebar-close i {
    font-size: 25px !important;
}
.cur-lang-acc-dropdown .user {
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.cur-lang-acc-dropdown .user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--theme-color);
}
.cur-lang-acc-dropdown .user h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.district_name {
    display: inline-block;
}
.district_name p {
    margin: 0;
    width: 100% !important;
}
.service_district_name {
    width: 100%;
    padding: 12px 0;
}
.service_district_name p {
    margin: 0;
}
.quantity {
    margin-top: 10px;
}
.minus {
    width: 30px;
    float: left;
    background: var(--theme-color);
    text-align: center;
    padding: 10.5px 0;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.number-show {
    width: 20%;
    float: left;
}
.plus {
    width: 30px;
    float: left;
    background: var(--theme-color);
    text-align: center;
    padding: 10.5px 0px;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
input.item_count {
    padding: 0 !important;
    text-align: center;
    /* width: 100px !important; */
    border-radius: initial !important;
    border: 1px solid #ddd !important;
}
input.item_count:focus {
    border: 1px solid #ddd;
    box-shadow: initial;
}
.item-counter {
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 20px;
}
.single-shop-list {
    position: relative;
}
.single-shop-list .shop-district-name {
    position: absolute;
    top: 0;
    right: 0;
}
.single-shop-list .shop-district_name {
    position: absolute;
    top: 0;
    right: 0;
}
.single-shop-list .shop-district_name span {
    color: #fff;
    font-size: 13px;
}
.shop-category-tab .tab-menu.shop-details ul li a {
    width: 50%;
}

/*Mobile Layout: 320px*/

@media only screen and (max-width: 767px) {
    .d-flex.cart-plus-minus {
        display: unset !important;
    }
    .d-flex.cart-plus-minus i {
        display: block;
        width: 100%;
    }
    .ssp-hero .ssp-hero-thumb iframe {
        width: 100%;
        height: 100%;
    }
    .breadcrumb-area {
        height: 150px;
        overflow: hidden;
    }
    .breadcrumb-area .breadcrumbs {
        margin-top: 15px;
    }
    .breadcrumb-area .breadcrumbs h1 {
        margin: 0;
        font-size: 30px;
    }
    .breadcrumb-area .breadcrumbs ul {
        margin-top: 10px;
    }
    .section-title h3 {
        font-size: 20px;
    }
    .breadcrumb-area .breadcrumbs ul li {
        font-size: 15px;
        padding: 5px;
    }
    .mobile-sidebar .sidenav li>a>i {
        margin: 0 !important;
        top: 0 !important;
        font-weight: 700;
        width: 24px;
        background: var(--theme-color);
        height: 24px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
    }
    .ssp-product-section .ssp-sidebar ul li a {
        font-size: 15px;
        line-height: 18px;
    }
    .mobile-sidebar ul li {
        position: relative !important;
    }
    .mobile-sidebar ul li ul.mobile_subcategory {
        background: #eee;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .mobile-sidebar ul li ul.mobile_subcategory.show {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .gallerys .single-gallery {
        width: 48%;
    }
    .gallerys .single-gallery img {
        height: 150px;
    }
    .gallery-filter-menu ul li {
        margin-bottom: 5px;
    }
    .service-details-section .ssp-hero .ssp-hero-thumb {
        width: 100%;
    }
    .service-details-section .ssp-hero .ssp-hero-thumb img {
        height: auto;
    }
    .service-details-section .ssp-hero .ssp-hero-info {
        width: 100%;
    }
    .service-details-section .service-details h2 {
        font-size: 25px;
    }
    .service-item-list .service-info {
        padding: 15px;
    }
    .single-post {
        margin-bottom: 20px;
    }
    a.shopping-btn.mchat-wrapper {
        background: var(--theme-color);
        color: #fff;
    }
    a.shopping-btn.mchat-wrapper span.badge {
        color: #fff;
        float: none;
    }
    .sticky-latest-news {
        display: none;
    }
    .list-group.my-account-sidebar {
        display: none;
    }
    .mobile-sidebar ul li ul.second.mobile_subcategory {
        background: #555;
        padding-left: 0;
    }
    .mobile-sidebar ul li ul.second.mobile_subcategory li a {
        color: #fff;
        padding-left: 40px;
    }
    .section-title.styled h3 {
        font-size: 20px;
    }
    .shop-category-tab .tab-menu ul li a {
        width: 48% !important;
        padding: 15px !important;
        height: 55px;
        margin-left: 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        border: 1px solid var(--theme-color);
    }
    .shop-category-tab .tab-menu ul li a.active {
        color: #fff !important;
        border-bottom: 0 !important;
        background: var(--theme-color) !important;
    }
    .shop-category-tab .tab-menu {
        border-radius: 0 !important;
        padding-top: 5px;
    }
    .product-review-show .review-list .author {
        width: 30%;
        margin-right: 5%;
    }
    .product-review-show .review-list .author img {
        width: 50px;
        height: 47px;
    }
    .product-review-show .review-list .comment {
        width: 65%;
    }
    .mobile-footer .header-navbar-active span.account-access img {
        margin-top: 0;
        width: 30px;
        height: 30px;
    }
    section.shop-advertisements-section .list img {
        height: 100px;
    }
    .section-padding {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .shop-category-tab {
        padding: 0 !important;
    }
    .shop-list-section .single-shop-list .shop-thumb img {
        width: auto !important;
        height: 60px !important;
    }
    .breadcrumb-area {
        display: none;
    }
    .sub-categories-section .section-title.styled {
        display: none;
    }
    .service-list .row,
    .featured-product-section .row,
    .ssp-product-section .row,
    .shop-lists .row {
        padding: 0px 5px;
    }
    .service-list .row .col-6,
    .featured-product-section .row .col-6,
    .ssp-product-section .row .col-6,
    .shop-lists .row .col-4 {
        padding: 5px;
    }
    .service-list .single-product .product-thumb img {
        height: 125px;
    }
    .service-list .single-product.service-item .product-thumb {
        height: 125px;
    }
    .service-list .single-product.service-item .product-info h5 {
        font-size: 18px;
        line-height: 22px;
    }
    .single-product .product-thumb {
        height: 130px;
    }
    .district_name {
        margin-bottom: -10px;
    }
    .single-product .product-info h5 {
        height: 55px;
    }
    .ssp-hero .ssp-hero-thumb img {
        height: 170px !important;
    }
    .youtube-video-icon a i {
        margin-left: 0;
        margin-top: 0;
    }
    .ssp-products .cat_name {
        display: none;
    }
    .shop-list-section .shop-search a.reset-search {
        display: none;
    }
    .shop-list-section .shop-search button {
        width: 100%;
        height: auto;
    }
    .shop-list-section .shop-search button i {
        display: none;
    }
    .single-product.service-item .product-info h5 {
        font-size: 16px;
    }
    .single-product.service-item.favourites .product-thumb {
        height: 130px !important;
    }
    .single-shop-list p.delete_favourite_item {
        margin-bottom: 0;
        top: unset !important;
        left: unset !important;
        bottom: 0;
        right: 0;
        padding: 0px 10px !important;
        font-size: 10px;
    }
    /* Force table to not be like tables anymore */
    #responsive_table table,
    #responsive_table thead,
    #responsive_table tbody,
    #responsive_table th,
    #responsive_table td,
    #responsive_table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #responsive_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #responsive_table tr {
        border: 1px solid #ccc;
        margin-bottom: 8px;
    }
    #responsive_table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #responsive_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
    Label the data
    */
    #responsive_table td:before {
        content: attr(data-title);
    }
    #preloader {
        display: none !important;
    }
    /* footer.footer-section {
        display: none;
    } */
    .mobile-padding {
        padding-bottom: 50px;
        overflow: hidden;
    }
    footer .apps-info {
        padding: 0 !important;
    }
    div#product_video iframe {
        height: 200px;
    }
    section.mobile-footer {
        z-index: 99999999;
    }
    button.mcart-wrapper {
        border: 0;
    }
    .moblie-search-section .main-search.search-form {
        display: block;
    }
    .moblie-search-section {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        overflow: hidden;
        left: 0;
        background: #fff;
        z-index: 9999999999;
        padding: 15px;
        color: var(--theme-color);
        display: none;
    }
    .main-search.search-form button {background: var(--theme-color);color: #fff;float: right;border: 0;padding: 15px 30px;margin-top: 10px;border-radius: 3px; width: 100%; text-transform: uppercase;}
    .main-search.search-form {
        margin-top: 20px;
    }
    .moblie-search-section .close-icon i {font-size: 35px;float: right;display: block;}
}
