.single-product .product-info p.cart-btn {
    text-transform: capitalize;
    display: block;
    border: 1px solid #ddd;
    color: #019247;
    padding: 5px 0;
}
.single-product .product-info p.cart-btn i {
    margin-right: 5px;
}

.shop-lists {
    overflow: hidden;
    padding-bottom: 25px;
}

.pagination li a {
    padding: 2.3px 15px;
}

.page-link {
    padding: 7.2px 15px;
}

.page-item.active .page-link {
    background-color: #019247;
    border-color: #019247;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

strong,
b {
    font-weight: 700 !important;
}


/*Shop list section start*/

.shop-list-section .single-shop-list {
    margin-bottom: 15px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.shop-list-section .single-shop-list:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.shop-list-section .single-shop-list .shop-thumb {
    padding: 10px 40px;
    text-align: center;
}

.shop-list-section .single-shop-list .shop-name h5 {
    font-size: 0.8em;
    line-height: 1.4em;
    font-weight: 600;
    color: #4a4a4a;
    text-transform: capitalize;
    margin: 0;
    height: 45px;
}


/*Shop list section end*/
