:root {
    --theme-color: #FF5F00;
}

body {
    background-color: #f1f2f4 !important;
}

.header-section .main-search {
    margin-top: 20px;
}

.header-section .main-search input {
    border: 1px solid #ddd;
    width: 97%;
    padding: 0 10px;
    border-bottom: 1px sollid var(--theme-color) !important;
    box-shadow: 0 2px 0 0 var(--theme-color) !important;
}

.header-section .main-search .select-wrapper {
    width: 20%;
    position: absolute;
    top: 0;
    right: 92px;
}

.header-section .main-search button {
    position: absolute;
    right: 0;
    border-radius: 0 5px 5px 0;
    top: 0;
    background: var(--theme-color);
    padding: 15px 30px;
    color: #fff;
    line-height: 0;
    cursor: pointer;
    border: 0;
}

.header-section .user-wrapper ul li a {
    display: block;
    padding: 31px 20px;
}

.header-section {
    background: #ffffff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.header-bottom-section {
    border-bottom: 0px solid #ddd;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 2px 2px 4px #ddd;
}

.header-bottom-section .navigation {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 12px 0;
}

.header-bottom-section .navigation i {
    cursor: pointer;
    margin-left: 22px;
}

.header-bottom-section .secondary-navbar {
    padding-left: 0px;
}

.header-bottom-section .secondary-navbar ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

.header-bottom-section .secondary-navbar ul li a {
    float: left;
    display: block;
    padding: 6px 12px;
    border-right: 1px solid #ddd;
    text-transform: uppercase;
    transition: all 0.4s;
    font-size: 15px;
}

.header-bottom-section .secondary-navbar ul li a:hover {
    background: var(--theme-color);
    color: #ffffff;
}

.slider-section .sliders .single-slide-item img {
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.shop-category-tab {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.shop-category-tab .tab-menu {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.shop-category-tab .tab-menu ul {
    border-bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.shop-category-tab .tab-menu ul li a {
    float: left;
    width: 25%;
    display: block;
    font-weight: 700;
    color: #888;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.shop-category-tab .tab-menu ul li a.active {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

.tab-content.shop-list-section {
    margin-top: 30px;
}

.single-product {
    padding: 10px 10px;
    background: #ffffff;
}

footer {
    background: #1D2531;
    padding-top: 30px;
    color: #dddddd;
}

footer .footer-bottom {
    background: #313B45;
}

footer .footer-bottom p {
    color: #ffffff;
}

footer .f-w-title h5 {
    font-size: 1.1em;
    color: #dddddd;
    margin-bottom: 15px;
}

.footer-menu ul li a {
    color: #dddddd;
    margin-bottom: 10px;
    display: block;
}

footer .apps-info {
    padding: 70px 0;
}

.ssp-hero .ssp-hero-thumb {
    width: 74%;
}

.ssp-hero .ssp-hero-thumb img {
    height: 350px;
}

.ssp-hero .ssp-hero-info {
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    display: block;
}

.ssp-hero-info .shop-logo-name {
    overflow: hidden;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ssp-hero-info .shop-logo-name .shop-logo {
    width: 35%;
    float: left;
    margin-right: 5%;
}

.ssp-hero-info .shop-logo-name .shop-name {
    width: 60%;
    float: left;
}

.ssp-hero-info .shop-logo-name .shop-logo img {
    width: 100%;
    height: auto;
}

.ssp-hero-info .shop-logo-name .shop-name h3 {
    font-size: 20px;
    line-height: 25px;
}

.ssp-product-section .ssp-sidebar {
    border-left: 0 solid #ddd;
    border-right: 0 solid #ddd;
    background: #ffffff;
    overflow: unset;
    border-radius: 8px;
}

.ssp-product-section .ssp-sidebar ul li:last-child {
    border-bottom: 0;
}

.slider-section .sliders .single-slide-item {
    height: 420px;
}

.cart-item,
.cart-totals {
    background: #ffffff;
}

.cur-lang-acc-active {
    background: #ffffff;
    color: #353535;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    width: 300px;
    z-index: 9999;
}

.cur-lang-acc-active.inside {
    right: 0;
}

body .body-overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    cursor: crosshair;
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
}

body.overlay-active .body-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.wrap-sidebar {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 20px 40px 0;
    width: 100%;
}

.register-section .form-area {
    background: #ffffff;
}

.header-navbar-active span.account-access {
    cursor: pointer;
}

.wrap-sidebar button.op-sidebar-close {
    background: none;
    border: none;
    cursor: pointer;
}

.wrap-sidebar button.op-sidebar-close i {
    font-size: 40px;
}

#header-navigation .logo {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

#header-navigation .logo img {
    width: 65%;
}

.cur-lang-acc-dropdown ul li a {
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.wrap-sidebar .sidebar-nav-icon {
    text-align: right;
}

.sliders-height {
    height: 350px;
}

.single-product {
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    transition: all 0.5s;
}

.single-product .product-info h5 {
    padding: 10px 0 0 !important;
}

.single-product .product-thumb img {
    width: 100% !important;
    object-fit: contain;
}

.exzoom .exzoom_img_ul_outer {
    border-radius: 8px !important;
}

.section-title.styled h2 {
    color: var(--theme-color) !important;
    font-weight: 800;
}

.section-title.styled {
    margin-bottom: 0 !important;
}

.categories_h3 {
    margin: 0;
    color: #4a4a4a;
    padding: 16px 0 0;
    font-size: 22px;
    border-radius: 0;
    text-transform: uppercase !important;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Responsive CSS*/


/*Tablet Layout: 768px*/

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/*Mobile Layout: 320px*/

@media only screen and (max-width: 767px) {
    .header-bottom-section {
        overflow: unset;
    }
    .header-bottom-section .navigation i {
        position: fixed;
        top: 25px;
        right: 10px;
        z-index: 99999;
        padding-right: 12px;
    }
    .header-bottom-section .secondary-navbar {
        display: none;
    }
    .header-bottom-section .navigation {
        border-left: 0;
        border-right: 0;
        padding: 0;
    }
    .material-tooltip {
        display: none;
    }
    .cur-lang-acc-active {
        z-index: 9999999;
    }
    .register-section .form-area h2 {
        font-size: 25px;
    }
    .dropdown-menu {
        position: relative !important;
    }
    .ssp-hero .ssp-hero-thumb {
        width: 100%;
        margin-bottom: 15px;
    }
    .ssp-hero .ssp-hero-thumb img {
        height: auto;
    }
    .ssp-hero .ssp-hero-info {
        width: 100%;
    }
    .slider-section .sliders .single-slide-item {
        height: 200px;
    }
    .section-title.styled .view-all {
        padding-right: 0px;
        font-size: 14px;
    }
    .section-title.styled .view-all a {
        padding: 2px 7px;
    }
}

.mobile-view {
    display: none;
}
@media screen and (max-width: 520px) {
    .mobile-view {
        display: block;
    }
    .header-section .logo img {
        max-height: 46px !important;
    }
    .header-bottom-section .navigation i {
        top: 65px;
    }
    .header-section .logo {
        padding: 6px 0;
        text-align: left;
    }
    .section-padding {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .sliders-height {
        height: 214px !important;
    }
    section.shop-advertisements-section .list {
        margin-bottom: 14px;
    }
    .tab-content.shop-list-section {
        margin-top: 6px;
    }
    .shop-lists {
        padding-bottom: 0px;
    }
    section.shop-advertisements-section {
        margin-top: 0rem;
    }
}

/*modified*/
.dropdown-content li > a, .dropdown-content li > span {
    color: #2c2475 !important;
}

.header-section .logo img {
    max-height: 60px !important;
}

.set-bg {
    background: #fff;
    box-shadow: 2px 2px 5px 2px #e6e6e6;
}

.shop-list-section .single-shop-list .shop-thumb {
    padding: 0px 0px !important;
}

.shop-list-section .single-shop-list .shop-name h5 {
    line-height: 2.4em;
    height: auto;
}

@media only screen and (max-width: 767px) {
    .shop-list-section .single-shop-list .shop-thumb img {
        width: 100% !important;
    }
}
