.single-product .product-info p.cart-btn {
    text-transform: capitalize;
    display: block;
    border: 1px solid #ddd;
    color: #019247;
    padding: 5px 0;
}

.single-product .product-info p.cart-btn i {
    margin-right: 5px;
}

.shop-lists {
    overflow: hidden;
    padding-bottom: 25px;
}

.pagination li a {
    padding: 2.3px 15px;
}

.page-link {
    padding: 7.2px 15px;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.shop-list-section .single-shop-list .shop-thumb img {
    width: 100%;
    height: 75px;
}

.slider-section .sliders .single-slide-item {
    height: 500px;
    width: 100%;
}

.slider-section .sliders .single-slide-item img {
    width: 100%;
    height: 100%;
}

.sidenav-wrapper .dropdown-menu {
    min-width: 100%;
    padding: 0;
}

.sidenav-wrapper .dropdown-item {
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

.sidenav-wrapper .dropdown-item:last-child {
    border-bottom: 0;
}
