    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + .75rem);
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E);
        background-repeat: no-repeat;
        background-position: center right calc(.375em + .1875rem);
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }
    
    .invalid-feedback {
        display: block;
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
    }
    
    .school-name.text-center {
        display: block;
        width: 100%;
    }
    
    .school-name.text-center h3 {
        color: #fff;
        text-transform: uppercase;
    }
    
    .dataTables_filter input {
        border: 1px solid #d9d9d9;
        padding: 5px;
        margin-left: 10px;
        border-radius: 3px;
    }
    
    nav.navbar.top-navbar.navbar-toggleable-sm.navbar-light {
        background: #222;
    }
    
    .card-no-border .left-sidebar,
    .card-no-border .sidebar-nav {
        background: #ddd;
    }
    
    .topbar .top-navbar .navbar-header {
        background: #222;
        height: 50px;
        line-height: 50px;
    }
    
    .topbar .top-navbar .navbar-header .navbar-brand {
        color: #fff;
    }
    
    footer.footer {
        background: #222;
        color: #fff;
    }
    
    .card-no-border .sidebar-footer {
        background: #ddd;
    }
    
    .card-title {
        margin-bottom: 10px;
        color: #fff;
    }
    
    .back-button {
        float: right;
        display: block;
        margin-top: -33px;
    }
    
    .back-button i {
        margin-right: 5px;
    }
    
    .topbar .top-navbar {
        height: 50px;
        min-height: 0;
    }
    
    .footer {
        padding: 10px 15px;
    }
    
    .sidebar-nav ul li a {
        padding: 12px 35px 12px 15px;
    }
    
    .product-list {
        overflow: hidden;
    }
    
    .product-list .list-item {
        border: 1px solid #ddd;
        padding: 5px;
        box-shadow: 0 8px 30px #e9e9e9;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 30px;
        display: block;
        height: 170px;
        position: relative;
        transition: all 0.3s;
    }
    
    .product-list .list-item:hover {
        background: #e9e9e9;
    }
    
    .product-list .list-item img {
        width: 100%;
        height: 90px;
        margin-bottom: 10px;
    }
    
    .product-list .list-item p {
        line-height: 19px;
        font-size: 14px;
    }
    
    .product-list .list-item span {
        position: absolute;
        top: 0;
        right: 0;
        background: #333;
        padding: 2px 5px;
        color: #fff;
    }
    
    .product-cart-table table th {
        color: #fff;
    }