/*mobile view menubar start*/

.sticky-area-mobile-view {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    background: var(--theme-color);
    width: 100%;
    height: 65px;
    border-top: 1px solid #fff;
}

.mobile-menu-btn i.fa {
    font-size: 27px;
}

.mobile-sticky-bar-common-style {
    width: 21%;
    float: left;
    padding: 10px 0;
    cursor: pointer;
}

.mobile-sticky-bar-common-style i.fa {
    color: #fff;
    font-size: 22px;
}

.mobile-sticky-bar-common-style p {
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    margin-top: -3px;
}

.sticky-area-mobile-view {
    display: none;
}

ul.mobile-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--theme-color);
    position: fixed;
    bottom: 48px;
    right: -100%;
    z-index: 9999;
    width: 100%;
    opacity: 0;
    overflow: scroll;
    height: 40%;
    transition: all 0.5s;
}

ul.mobile-menu li a {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    transition: all 0.5s;
    display: block;
    padding: 10px 20px;
}

ul.mobile-menu li ul {
    margin: 0;
    padding: 0;
    visibility: hidden;
    background: #7460ee;
    display: none;
    opacity: 0;
}

ul.mobile-menu li ul li a {
    padding-left: 45px;
}

ul.mobile-menu li.sub-items ul.show_menu {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

#close {
    position: absolute;
    right: 9px;
    top: 3px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 2px;
}


/*mobile view menubar end*/


/*Medium Layout: 1280*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/*Tablet Layout: 768px*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mini-sidebar .page-wrapper {
        margin-left: 0;
    }
    .mini-sidebar .hide-menu, .mini-sidebar .nav-small-cap, .mini-sidebar .sidebar-footer, .mini-sidebar .user-profile .profile-text {
        display: inline-block !important;
    }
    #sm_menu_ham {
        bottom: 15px !important;
        z-index: 9999999 !important;
        top: unset;
    }
    .sm_menu_outer {
        top: 0;
        bottom: unset;
    }
    .sm_menu_outer.active {
        z-index: 99999;
    }
    .mini-sidebar .left-sidebar,
    .mini-sidebar .sidebar-footer {
        display: none;
    }
    .topbar {
        display: none;
    }
    .container-fluid {
        padding: 15px;
    }
    .mini-sidebar .page-wrapper {
        padding-top: 0px;
    }
    .sticky-area-mobile-view {
        display: block;
    }
    .text-right {
        text-align: left !important;
    }
    .card-header.bg-info {
        position: fixed;
        width: 100%;
        z-index: 99999;
        left: 0;
        right: 0;
        top: 0;
    }
    .card-block {
        margin-top: 50px;
    }
    .card-title {
        float: right !important;
    }
    .back-button {
        float: left !important;
        margin-top: 0 !important;
    }
    .hide-mobile {
        display: none;
    }
    /* Force table to not be like tables anymore */
    #responsive_table table,
    #responsive_table thead,
    #responsive_table tbody,
    #responsive_table th,
    #responsive_table td,
    #responsive_table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #responsive_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #responsive_table tr {
        border: 1px solid #ccc;
        margin-bottom: 8px;
    }
    #responsive_table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #responsive_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
        Label the data
        */
    #responsive_table td:before {
        content: attr(data-title);
    }
    .modal {
        z-index: 9999999999 !important;
    }
    .dataTables_filter {
        float: unset !important;
        overflow: hidden;
    }
}


/*Mobile Layout: 320px*/

@media only screen and (max-width: 767px) {
    #sm_menu_ham {
        bottom: 15px !important;
        z-index: 9999999 !important;
        top: unset;
    }
    .sm_menu_outer {
        top: 0;
        bottom: unset;
    }
    .sm_menu_outer.active {
        z-index: 99999;
    }
    .mini-sidebar .left-sidebar,
    .mini-sidebar .sidebar-footer {
        display: none;
    }
    .topbar {
        display: none;
    }
    .container-fluid {
        padding: 15px;
    }
    .mini-sidebar .page-wrapper {
        padding-top: 0px;
    }
    .sticky-area-mobile-view {
        display: block;
    }
    .text-right {
        text-align: left !important;
    }
    .card-header.bg-info {
        position: fixed;
        width: 100%;
        z-index: 99999;
        left: 0;
        right: 0;
        top: 0;
    }
    .card-block {
        margin-top: 50px;
    }
    .card-title {
        float: right !important;
    }
    .back-button {
        float: left !important;
        margin-top: 0 !important;
    }
    .hide-mobile {
        display: none;
    }
    /* Force table to not be like tables anymore */
    #responsive_table table,
    #responsive_table thead,
    #responsive_table tbody,
    #responsive_table th,
    #responsive_table td,
    #responsive_table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #responsive_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #responsive_table tr {
        border: 1px solid #ccc;
        margin-bottom: 8px;
    }
    #responsive_table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #responsive_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
        Label the data
        */
    #responsive_table td:before {
        content: attr(data-title);
    }
    .modal {
        z-index: 9999999999 !important;
    }
    .dataTables_filter {
        float: unset !important;
        overflow: hidden;
    }
    textarea {
        height: 150px !important;
    }
}


/*Wide Mobile Layout: 480px*/

@media only screen and (min-width: 480px) and (max-width: 767px) {}