/*Default style start*/
body{
  font-family: 'Merriweather','SolaimanLipi',sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  /*background-color: #F7F8FA;*/
  color: $gray;
}
a:hover, a:focus{
  text-decoration: none;
  outline: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Default style end*/