/*
product style start
*/
.single-product{
  margin-bottom: 15px;
  float: left;
  padding: 0 10px;
  width: 100%;
  .product-thumb{
    height: 160px;
    text-align: center;
    img{
      width: auto;
      height: 100%;
      margin: 0 auto;
    }
  }
  .product-info{
    h5{
      font-size: 1em;
      text-transform: capitalize;
      margin: 0;
      padding: 10px 0;
      margin-bottom: 5px;
    }
    p.weight {
      margin: 0;
      font-size: .875em;
      text-transform: capitalize;
    }
    p.price {
      font-size: .875em;
      margin-bottom: 5px;
      strong {
        font-size: 1.3em;
        font-weight: 700;
      }
    }
    a{
      text-transform: capitalize;
      display: block;
      border: 1px solid #ddd;
      color: $primary;
      padding: 5px 0;
      i {
        margin-right: 5px;
      }
    }
  }
}
.single-product.shop-page{
  width: 25%;
}
.single-product:hover .product-thumb img {
  transform: scale(1.1);
  transition: all .5s;
}

.product-thumb {
  overflow: hidden;
}

.product-thumb img {
  transform: scale(1);
  transition: all .5s;
}

.single-product:hover {
  box-shadow: 0 0 5px #999;
  border-radius: 5px;
  transition: all .5s;
}
/*
product style end
*/