#chatbox-container{
  width:100%;
  height:600px;
  background:#eff3f7;
  margin:0 auto;
  font-size:0;
  border-radius:5px;
  overflow:hidden;
}
.chatbox-sidebar{
  width:30%;
  height:600px;
  background-color:#3b3e49;
  float: left;
  font-size:15px;
  vertical-align:top;
}
.chatbox-messages {
  width:70%;
  height:600px;
  float: left;
  font-size:15px;
  vertical-align:top;
}

.chatbox-sidebar header{
  padding:30px 20px;
}
a#new-message {
  display: block;
  background: #6fbced;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chatbox-sidebar input{
  width:100%;
  height:50px;
  line-height:50px;
  padding:0 50px 0 20px;
  background-color:#5e616a;
  border:none;
  border-radius:3px;
  color:#fff;
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
  background-repeat:no-repeat;
  background-position: right;
  background-size:40px;
}
.chatbox-sidebar input::placeholder{
  color:#fff;
}
#user-list {
  overflow-y:scroll;
  height:450px;
}
.chatbox-sidebar ul{
  padding-left:0;
  margin:0;
  list-style-type:none;
}
.chatbox-sidebar li {
  padding: 7px 10px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}
.chatbox-sidebar li:hover, .chatbox-sidebar li.active{
  background-color:#5e616a;
}
.chatbox-sidebar li .user-photo {
  width: 15%;
  float: left;
  overflow: hidden;
  margin-right: 5%;
}
.chatbox-sidebar li .user-photo img {
  width: 100%;
  height: 45px;
  border-radius: 50%;
}
.chatbox-sidebar li .user-name {
  width: 80%;
  float: left;
}
.chatbox-sidebar li .user-name h6 {
  color: #fff;
  font-size: 14px;
}
.chatbox-sidebar li .user-name p {
  color: #ccc;
  font-size: 14px;
}
.chatbox-sidebar li .user-name.unread p {
  color: chocolate;
}
.chatbox-sidebar li .user-name p span {
  color: #6fbced;
  font-size: 12px;
}

.status{
  width:8px;
  height:8px;
  border-radius:50%;
  display:inline-block;
  margin-right:7px;
}
.green{
  background-color:#58b666;
}
.orange{
  background-color:#ff725d;
}
.blue{
  background-color:#6fbced;
  margin-right:0;
  margin-left:7px;
}

.chatbox-messages header {
  height: 80px;
  padding: 15px;
}
.chatbox-messages header > *{
  display:inline-block;
  vertical-align:top;
}
.chatbox-messages header img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.chatbox-messages header div{
  margin-left:10px;
}
.chatbox-messages header h2{
  font-size:16px;
  margin-top:10px;
}

#chat{
  padding-left:0;
  margin:0;
  list-style-type:none;
  overflow-y:scroll;
  height:420px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}
#chat li {
  padding: 10px 30px;
  display: block;
  overflow: hidden;
}
#chat h2,#chat h3{
  display:inline-block;
  font-size:13px;
  font-weight:normal;
}
#chat h3{
  color:#bbb;
}
#chat .entete h2, #chat .entete h3 {
  margin-bottom: 0;
  line-height: 20px;
}
#chat .entete{
  margin-bottom:5px;
}
#chat .message{
  padding:10px;
  color:#fff;
  line-height:25px;
  max-width:90%;
  display:inline-block;
  text-align:left;
  border-radius:5px;
}
#chat .me{
  text-align:right;
}
#chat .you .message{
  background-color:#58b666;
}
#chat .me .message{
  background-color:#6fbced;
}

.chatbox-messages .chatbox-footer{
  height:100px;
  padding:20px;
}
.chatbox-messages .chatbox-footer textarea {
  resize: none;
  border: none;
  display: block;
  width: 85%;
  height: 70px;
  border-radius: 3px;
  padding: 20px;
  font-size: 13px;
  float: left;
  margin-right: 2%;
}
.chatbox-messages .chatbox-footer textarea::placeholder{
  color:#ddd;
}
.chatbox-messages .chatbox-footer button {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  vertical-align: top;
  margin-top: 15px;
  background: #6fbced;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
div#new_message_form {
  padding: 50px;
}
  .select-wrapper input.select-dropdown {
    display: none !important;
  }

.back_button {
  display: none !important;
}


/*Medium Layout: 1280*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/*Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/*Mobile Layout: 320px*/
@media only screen and (max-width: 767px) {
  .mobile_hide {
    display: none;
    visibility: hidden;
  }
  .mobile_show {
    display: block;
    visibility: visible;
  }
  .back_button {
    display: block !important;
    float: right;
      background: blanchedalmond;
      padding: 5px 5px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
  }
  .chatbox-sidebar {
    width: 100%;
  }
  .chatbox-sidebar li .user-photo img {
    height: 45px;
  }
  .chatbox-messages {
    width: 100%;
  }
  div#new_message_form {
    padding: 20px;
  }
  div#new_message_form textarea {
    height: 100px !important;
  }
  .chatbox-messages header {
    height: 55px;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    z-index: 999999;
  }
  .chatbox-messages header img {
    width: 40px;
    height: 40px;
  }
  .chatbox-messages header h2 {
    font-size: 14px;
    margin-top: 0;
  }
  #chat {
    padding-top: 40px;
    height: 500px;
  }
  #chat li {
    padding: 10px 12px;
  }
  .chatbox-messages .chatbox-footer {
    height: 80px;
    padding: 10px;
  }
  .chatbox-messages .chatbox-footer textarea {
    width: 73%;
    height: 60px !important;
    padding: 10px;
  }
  .chatbox-sidebar header {
      padding: 20px 10px;
  }
  a#new-message {
    padding: 10px;
  }

}

/*Wide Mobile Layout: 480px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {}