body{
    font-family: 'Merriweather','SolaimanLipi','Amiri',sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather','SolaimanLipi','Amiri',sans-serif;
}
p {
    font-family: 'Merriweather','SolaimanLipi','Amiri',sans-serif;
}
/*================================================================================
gallery section start
================================================================================
*/
.gallery-filter-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.gallery-filter-menu ul li {
    display: inline-block;
    border: 2px solid var(--theme-color);
    padding: 5px 20px;
    font-weight: 600;
    color: #333;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
}
.gallery-filter-menu ul li:hover {
    background: var(--theme-color);
}
.gallery-filter-menu ul li.active {
    background: var(--theme-color);
}

.gallerys {
    margin-top: 10px;
    overflow: hidden;
}
.gallerys .single-gallery {
    position: relative;
    width: 32.85%;
    display: block;
    float: left;
    margin: 2px;
    overflow: hidden;
}
.gallerys .single-gallery:hover .popup-icon {
    visibility: visible;
    transition: all 0.5s;
}
.gallerys .single-gallery:hover .popup-icon i.fa {
    bottom: 60%;
    visibility: visible;
    z-index: 1;
    transition: all 0.5s;
}
.gallerys .single-gallery:hover .overly-bg {
    visibility: visible;
    transition: all 0.5s;
}
.gallerys .single-gallery:hover img {
    transform: scale(1);
    transition: all 0.5s;
}
.gallerys .single-gallery:hover .project-title {
    bottom: 0;
    transition: all 0.5s;
}
.gallerys .single-gallery .overly-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.5s;
}
.gallerys .single-gallery .overly-bg:after {
    position: absolute;
    content: "";
    background: var(--theme-color);
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.gallerys .single-gallery .popup-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.gallerys .single-gallery .popup-icon i.fa {
    position: absolute;
    left: 47%;
    bottom: 0;
    font-size: 25px;
    color: var(--theme-color);
    transition: all 0.5s;
    visibility: hidden;
    z-index: -1;
}
.gallerys .single-gallery .popup-icon i.fa:hover {
    color: #fff;
    transition: all 0.5s;
}
.gallerys .single-gallery .project-title {
    position: absolute;
    left: 0;
    bottom: -100%;
    background: var(--theme-color);
    text-align: center;
    height: auto;
    width: 100%;
    transition: all 0.5s;
}
.gallerys .single-gallery img {
    transform: scale(1.2);
    transition: all 0.5s;
    height: 225px;
    width: 100%;
}
.gallerys .single-gallery .project-title h5 {
    font-size: 1.1em;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 0;
}
.gallerys .mix {
    display: none;
}

/**
================================================================================
gallery section end
================================================================================
*/

.video-gallery-section .list {
    margin-top: 40px;
}
.single-video-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #C8D6E5;
}
.single-video-item img {
    width: 100%;
    height: 220px;
}
.single-video-item a.video-preview {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    width: 46px;
    background: var(--theme-color);
    height: 46px;
    line-height: 46px;
    text-align: center;
    margin-top: -23px;
    margin-left: -23px;
}
.single-video-item a.video-preview i {
    color: #fff;
}
.section-padding {
    overflow: hidden;
}
#award-carousel .award-item img {
    width: 100% !important;
    height: 165px !important;
}