@font-face { 
    font-family: SolaimanLipi; 
    src: local('SolaimanLipi'),
         url('../fonts/solaimanlipi.woff') format('woff'),
         url('../fonts/solaimanlipi.woff2') format('woff2');
    }