/*color variables start*/
/*color variables end*/
.promo-section .promo-items .single-promo .promo-cont:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider-section .sliders .owl-nav button span {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

/*color variables start*/
/*color variables end*/
/*Default style start*/
body {
  font-family: "Merriweather", "SolaimanLipi", sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  /*background-color: #F7F8FA;*/
  color: #4a4a4a;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Default style end*/
/*common style start*/
.container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

.section-padding {
  padding-top: 35px;
}

.section-title h3 {
  text-transform: uppercase;
  font-weight: 300;
  color: #212121;
  font-size: 1.3em;
  margin-bottom: 45px;
  display: block;
}
.section-title h3 i {
  color: #019247;
}

.btn, .btn-large {
  background: orange;
  font-weight: 500;
}
.btn:hover, .btn-large:hover {
  background: #FD0002;
  color: #ffffff;
}
.btn:focus, .btn-large:focus {
  box-shadow: none;
  background: #019247;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: #019247;
}

/*common style end*/
/*
=============================================================================
scroll bar style for chrome
==============================================================================
*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #000;
}

::-webkit-scrollbar-thumb {
  background-color: #019247;
}

/*
=============================================================================
scroll bar style for chrome
==============================================================================
*/
/*header style start*/
.header-section {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.header-section .logo {
  width: 180px;
  padding: 15px 0;
  text-align: center;
}
.header-section .logo img {
  width: auto;
}
.header-section .navigation {
  display: inline-flex;
  margin-left: 20px;
}
.header-section .navigation i {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.header-section .main-search {
  position: relative;
}
.header-section .main-search .cat-search {
  width: 20%;
  float: left;
}
.header-section .main-search .main-search-wrapper {
  width: 80%;
  float: right;
}
.header-section .main-search .main-search-wrapper label {
  padding-left: 10px;
}
.header-section .main-search button {
  position: absolute;
  right: 0;
  top: 0;
  background: initial;
  padding: 10px;
  line-height: 58px;
}
.header-section .user-wrapper ul {
  text-align: right;
}
.header-section .user-wrapper ul li {
  display: inline-block;
}
.header-section .user-wrapper ul li a {
  display: block;
  padding: 35px 20px;
}
.header-section .user-wrapper ul li a .cart {
  position: relative;
}
.header-section .user-wrapper ul li a .cart .item-count {
  position: absolute;
  top: -25px;
  right: -15px;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  background: #FD0002;
}

/*header style end*/
/*side navigation start*/
.sidenav::-webkit-scrollbar {
  width: 0;
}

.sidenav {
  z-index: 1030;
}

.sidenav-wrapper h5 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
}
.sidenav-wrapper ul li a {
  text-transform: capitalize;
}
.sidenav-wrapper ul li a img {
  width: auto;
  height: 80%;
}
.sidenav-wrapper p i {
  position: relative;
  top: 8px;
}

/*side navigation end*/
/*slider section start*/
.slider-section .sliders .single-slide-item {
  height: 400px;
}
.slider-section .sliders .single-slide-item img {
  height: 100%;
}
.slider-section .sliders .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.slider-section .sliders .owl-nav button span {
  color: #ffffff;
  background: #FD0002;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.5em;
}

/*slider section end*/
/*Shop list section start*/
.shop-list-section .single-shop-list {
  margin-bottom: 15px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.shop-list-section .single-shop-list:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.shop-list-section .single-shop-list .shop-thumb {
  padding: 10px 40px;
  text-align: center;
}
.shop-list-section .single-shop-list .shop-name h5 {
  font-size: 0.8em;
  line-height: 1.4em;
  font-weight: 600;
  color: #4a4a4a;
  text-transform: capitalize;
  margin: 0;
  height: 45px;
}

/*Shop list section end*/
/*
featured categories lists start*/
.feat-categories .single-cat {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.feat-categories .single-cat:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.feat-categories .single-cat a {
  display: block;
  padding: 15px 0;
  text-transform: capitalize;
}
.feat-categories .single-cat a span i {
  color: #019247;
}
.feat-categories .single-cat a span img {
  width: 30px;
  height: 30px;
}

/*
featured categories lists start*/
/*
promotions section start*/
.promo-section .promo-items .single-promo {
  position: relative;
}
.promo-section .promo-items .single-promo:hover .promo-thumb img {
  -webkit-transform: scale(1.1) rotate(5deg);
  -ms-transform: scale(1.1) rotate(5deg);
  transform: scale(1.1) rotate(5deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.promo-section .promo-items .single-promo .promo-thumb {
  overflow: hidden;
}
.promo-section .promo-items .single-promo .promo-thumb img {
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.promo-section .promo-items .single-promo .promo-cont {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65%;
  padding: 15px;
  z-index: 1;
}
.promo-section .promo-items .single-promo .promo-cont:after {
  content: "";
  background: #fff;
  opacity: 0.8;
  z-index: -1;
}
.promo-section .promo-items .single-promo .promo-cont h4 {
  text-transform: capitalize;
  color: #4a4a4a;
  font-size: 1.2em;
  font-weight: 600;
}
.promo-section .promo-items .single-promo .promo-cont p {
  color: #212121;
}
.promo-section .promo-items .single-promo.first {
  border-bottom: 3px solid #019247;
}
.promo-section .promo-items .single-promo.second {
  border-bottom: 3px solid orange;
}
.promo-section .promo-items .single-promo.third {
  border-bottom: 3px solid #FD0002;
}

/*
promotions section end*/
/*contact us section start*/
.contact-us-section .contact-form h3 {
  font-size: 2em;
}
.contact-us-section .contact-form .input-field input {
  border-bottom-color: #fff;
}
.contact-us-section .contact-form .input-field input:focus {
  color: #333;
  border-bottom-color: #fff;
}
.contact-us-section .contact-form .input-field label {
  color: #ffffff;
}
.contact-us-section .contact-form .input-field label:focus {
  color: #ffffff;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #FD0002;
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label {
  color: #333;
}

.gmap iframe {
  width: 100%;
  height: 500px;
}

section.contact-us-section {
  position: relative;
}

.contact-form {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 400px;
  background: rgba(0, 128, 0, 0.6);
  padding: 30px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
}
.contact-form .form-control {
  background: initial;
  color: #333;
}

.contact-form textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact-form textarea::-moz-placeholder {
  color: #fff;
}

.contact-form textarea:-ms-input-placeholder {
  color: #fff;
}

.contact-form textarea:-moz-placeholder {
  color: #fff;
}

.form-control:focus {
  box-shadow: none;
  background: initial;
  color: #333;
}

/*contact us section end*/
/*
rating style start
*/
.rating ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.rating ul li {
  display: inline-block;
  padding: 5px 0;
  color: #212121;
  cursor: pointer;
  font-size: 1em;
  text-transform: capitalize;
}
.rating ul li span {
  font-size: 0.7em;
}
.rating ul li.rated {
  color: orange;
}

/*
rating style end
*/
/*
product style start
*/
.single-product {
  margin-bottom: 15px;
  float: left;
  padding: 0 10px;
  width: 100%;
}
.single-product .product-thumb {
  height: 160px;
  text-align: center;
}
.single-product .product-thumb img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.single-product .product-info h5 {
  font-size: 1em;
  text-transform: capitalize;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 5px;
}
.single-product .product-info p.weight {
  margin: 0;
  font-size: 0.875em;
  text-transform: capitalize;
}
.single-product .product-info p.price {
  font-size: 0.875em;
  margin-bottom: 5px;
}
.single-product .product-info p.price strong {
  font-size: 1.3em;
  font-weight: 700;
}
.single-product .product-info a {
  text-transform: capitalize;
  display: block;
  border: 1px solid #ddd;
  color: #019247;
  padding: 5px 0;
}
.single-product .product-info a i {
  margin-right: 5px;
}

.single-product.shop-page {
  width: 25%;
}

.single-product:hover .product-thumb img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.product-thumb {
  overflow: hidden;
}

.product-thumb img {
  transform: scale(1);
  transition: all 0.5s;
}

.single-product:hover {
  box-shadow: 0 0 5px #999;
  border-radius: 5px;
  transition: all 0.5s;
}

/*
product style end
*/
/*single shop page hero wrapper start*/
.ssp-hero .ssp-hero-thumb {
  width: 75%;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.ssp-hero .ssp-hero-info {
  width: 25%;
  float: right;
  padding: 15px;
}
.ssp-hero .ssp-hero-info .ssp-logo {
  margin-bottom: 15px;
}
.ssp-hero .ssp-hero-info p i {
  position: relative;
  top: 5px;
  color: #019247;
  margin-right: 10px;
}

.ssp-product-section .ssp-sidebar {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.ssp-product-section .ssp-sidebar .sidebar-search {
  position: relative;
}
.ssp-product-section .ssp-sidebar .sidebar-search button {
  position: absolute;
  right: 0;
  bottom: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.ssp-product-section .ssp-sidebar ul li a {
  display: block;
  padding: 10px;
  text-transform: capitalize;
}
.ssp-product-section .ssp-sidebar ul li a i {
  float: right;
  position: relative;
  top: 3px;
}
.ssp-product-section .ssp-sidebar ul li a:hover {
  background: #ddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/*single shop page hero wrapper end*/
/*
cart view style start*/
.cart-item-details ul li.c-heading .delete-all i {
  color: #9e9e9e;
}
.cart-item-details ul li.c-heading .delete-all span {
  font-weight: 300;
  font-size: 0.8em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-heading span.price, .cart-item-details ul li.c-heading span.qty {
  font-weight: 300;
  font-size: 0.8em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-data .c-action i {
  font-size: 1.5em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-data .custom-control label .c-info p {
  font-weight: 300;
  font-size: 1em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-data .custom-control label .c-info p.variation {
  font-weight: 300;
  font-size: 0.8em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-data .c-info p {
  font-weight: 300;
  font-size: 0.8em;
  color: #9e9e9e;
}
.cart-item-details ul li.c-data .c-info p.variation {
  font-weight: 300;
  font-size: 0.6em;
  color: #9e9e9e;
}
/*
cart view style end*/
/*left sidebar start*/
.left-sidebar h5 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
}
.left-sidebar ul li a {
  text-transform: capitalize;
  font-weight: 400;
}
.left-sidebar form span {
  text-transform: capitalize;
  color: #000;
}

/*left sidebar end*/
/*
footer start*/
footer {
  background: orange;
  padding-top: 30px;
}
footer .service-info .d-time p {
  margin-right: 10px;
}
footer .service-info .d-time p img {
  width: 40px;
}
footer .service-info .d-offer p {
  text-transform: capitalize;
}
footer .service-info .d-offer p img {
  width: 40px;
}
footer .f-w-title h5 {
  font-size: 1.1em;
}
footer .about-info {
  margin-bottom: 10px;
}
footer .payment-option ul {
  text-align: right;
}
footer .payment-option ul li {
  display: inline-block;
  text-transform: capitalize;
  /*span{
    width: max-content;
    display: block;
  }*/
}
footer .payment-option ul li a {
  display: block;
  width: 40px;
}
footer .apps-info {
  padding: 30px 0;
}
footer .apps-info img {
  width: 90%;
}
footer .c-info p.phone {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: 600;
}
footer .c-info p.phone img {
  margin-right: 10px;
}
footer .c-info p {
  font-size: 1em;
  font-weight: bold;
}
footer .c-info p span {
  font-weight: normal;
}
footer .f-social-link ul li a img {
  width: 15%;
}
footer .footer-bottom {
  background: darkorange;
  margin-top: 15px;
}
footer .footer-bottom p {
  text-transform: capitalize;
  color: #212121;
  font-size: 1.1em;
  padding: 12px;
}
footer .footer-bottom p img {
  width: 100px;
}

/*
footer end*/
/*mobile footer start*/
section.mobile-footer {
  position: fixed;
  background: #FF6F71;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mchat-wrapper {
  width: 20%;
  background: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 1.5em;
}

.shopping-btn {
  width: 60%;
  text-align: center;
}

.shopping-btn a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5em;
  padding: 15px 10px;
}

.mcart-wrapper {
  text-align: center;
  width: 20%;
  background: #fff;
  position: relative;
}

.mcart-wrapper i {
  padding: 15px 10px;
  font-size: 1.5em;
}

.mcart-wrapper span {
  position: absolute;
  width: 30px;
  height: 30px;
  font-weight: 700;
  color: #FF6F71;
  right: 10px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 1.3em;
}

/*mobile footer end*/

/*# sourceMappingURL=style.css.map */
