.single-promotion-item {
    margin-bottom: 30px;
}
.promo-thumb img {
    height: 200px;
}
.promo-cont {
    width: 100%;
}
.single-product-item .product-thumb img {
    height: 250px;
}
li.single-product-cart .cart-img img {
    width: 80px;
    height: 80px;
}
.swal2-container {
    z-index: 9999999999 !important;
}
.cart-delete {
    cursor: pointer;
}
.cart-delete i:hover {
	color: #ee3333;
}
.cart-main-area {
    padding-bottom: 50px;
}
section.page-contents.login-registration-form {
    padding: 50px 0;
    overflow: hidden;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #ee3333;
}
.custom-login-button {
    background: #ee3333;
    border: none;
    color: #fff;
    padding: 5px 40px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
}
input[type=checkbox], input[type=radio] {
	height: 12px;
	width: 12px;
}
.product-name, .cart-subtotal th, .order-total th {
    text-align: center !important; 
}
.table-content table td.product-remove {
    width: 190px;
}
h2#swal2-title {
    display: block !important;
}

.product-slider .owl-dot span {
    width: 5px;
    height: 35px;
    border: 1px solid var(--theme-color);
    display: block;
    border-radius: 5px;
    margin: 5px;
}
.product-slider .owl-dot.active span {
    background: var(--theme-color);
}
.new-product-section .owl-dots {
    bottom: -45px;
}
.featured-product-section .owl-dots {
    bottom: -100px;
}

.logo img, .footer-logo img {
    width: 100%;
    height: auto;
}
.mobile_view .logo img {
    width: 120px;
    height: auto;
}