/*Medium Layout: 1280*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-menu ul li a {
        font-size: 14px;
    }

    .header-area {
        padding: 20px 0;
    }

    .single-slide-item {
        height: 95vh;
    }

    .slider-cont {
        padding: 60px;
    }

    .slider-cont h1 {
        font-size: 25px;
    }

    .promo-cont h3 {
        font-size: 18px;
    }

    .promo-cont:after {
        width: 150%;
        height: 165%;
    }

    .slider-btn-style.shop-btn {
        margin-top: 0;
    }

    .single-product-item:hover .wishlist {
        left: 3%;
    }

    .single-product-item:hover .compare {
        right: 0;
    }

    .new-arrival {
        left: -32px;
        width: 70%;
        top: 27px;
    }

    .white-block {
        margin: 0 50px;
        padding: 70px 30px;
    }

    .limited-content h1 {
        font-size: 40px;
    }

    .post-meta ul li {
        font-size: 12px;
        padding: 5px 0;
    }

    .post-meta ul li i.fa {
        font-size: 16px;
    }

    .post-title h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .popular-item-thumb img {
        margin: 2px;
    }
    /*shop page start*/
    .product-color > ul li {
        margin-right: 15px;
    }

    /*shop page end*/
}

/*Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo img, .footer-logo img {
        width: 100%;
    }
    .slider-cont::after {
        height: 115%;
        top: -20px;
        left: 15px;
    }

    .slider-cont::before {
        height: 115%;
        top: -20px;
        left: 15px;
    }

    .slider-cont h2 {
        font-size: 25px;
    }

    .slider-cont h1 {
        font-weight: 300;
        font-size: 25px;
    }

    .slider-btn-style {
        padding: 10px 15px;
    }

    .slider-cont {
        padding: 30px;
    }

    .single-slide-item {
        height: 85vh;
    }

    .promo-cont {
        width: 100%;
        padding: 5px 10px;
    }

    .promo-cont:after {
        transform: initial;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .slider-btn-style.shop-btn {
        margin: initial;
    }

    .promo-cont p {
        margin: initial;
    }

    .single-product-item:hover .wishlist {
        left: 3%;
    }

    .single-product-item:hover .compare {
        right: 0;
    }

    .new-arrival {
        left: -38px;
        width: 70%;
        top: 25px;
    }

    .minus, .plus {
        width: 20px;
    }

    .buy-option.quick-popup-buy .compare {
        right: 10px;
    }

    .white-block {
        margin: initial;
        padding: 70px 0px;
    }

    .limited-content h1 {
        font-size: 30px;
    }

    .logo h1 {
        font-size: 25px;
    }

    .main-menu ul li {
        margin: 0 2px;
    }

    .main-menu ul li a {
        font-size: 14px;
    }

    /*shop page start*/
    .new-arrival.list-view {
        left: -38px;
        width: 100%;
        top: 23px;
    }

    .product-price p {
        font-size: 16px;
    }

    .product-color > ul li {
        margin-right: 25px;
        margin-bottom: 5px;
    }

    .product-title.list-view h4 {
        font-size: 16px;
    }

    .quick-view-btn a {
        font-size: 14px;
        padding: 5px 10px;
    }

    /*shop page end*/
}

/*Mobile Layout: 320px*/
@media only screen and (max-width: 767px) {
    .header-area{
        display: none;
    }
    /*mobile menu bar start*/
    .sticky-area-mobile-view {
        display: block;
    }
    .main-search-active{
        padding: 10px !important;
    }
    .sidebar-search-input, .sidebar-search-input form .form-search input{
        width: 100%;
    }
    .history-thumb img {
        width: 100%;
        height: auto;
    }
    .history-content-area{
        text-align: center;
    }
    .history-thumb {
        margin: 15px 0 0;
        box-shadow: initial;
        border-radius: 10px;
    }
    /*mobile menu bar end*/
    #scrollUp {
        display: none !important;
    }

    .header-area.home-header {
        position: initial;
    }

    .slider-content {
        height: initial;
    }

    footer.footer-area {
        display: none;
    }

    .col-md-8.menu-center {
        display: none;
    }

    .mobile-menu-bar-margin {
        margin-bottom: 70px;
    }

    .theme-btn.text-right {
        text-align: center !important;
    }

    .shop-page-products .single-product-item {
        box-shadow: 0 0 10px #999;
    }

    #template-2-slider .owl-dots {
        top: initial;
        bottom: 0;
        right: 50%;
        transform: translate(10px, 10px) rotateZ(90deg);
    }

    .single-slide-item {
        height: 35vh;
    }

    .slider-cont {
        padding: 45px;
    }

    .slider-cont h2 {
        font-size: 25px;
    }

    .slider-cont h1 {
        font-weight: 300;
        font-size: 25px;
    }

    .slider-cont::before {
        left: 18px;
    }

    .slider-cont::after {
        left: 18px;
    }

    .single-promotion-item {
        margin-bottom: 20px;
    }

    .section-padding {
        padding: 20px 0;
    }

    .new-arrival p {
        font-size: 18px;
    }

    .new-arrival {
        width: 50%;
        top: 40px;
        left: -36px;
    }

    .limited-content h1 {
        font-size: 35px;
    }

    body {
        font-size: 20px;
    }

    .product-title h4 {
        font-size: 20px;
    }

    .post-excerpt p {
        font-size: 18px;
    }

    .single-product-item:hover .wishlist {
        left: 13%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .wishlist {
        left: 13%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .single-product-item:hover .compare {
        right: 8%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .compare {
        right: 8%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }
    .section-title > h2 {
        font-size: 1.1em;
    }
    .quick-view-btn {
        display: none;
    }
    ul.mobile-menu {
        height: 91%;
    }
    /*shop page start*/
    .list-view-single-product {
        border-bottom: 2px solid #ddd;
        padding: 30px 0;
    }

    /*shop page end*/
    /*product details page start*/
    .exzoom {
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        margin-bottom: 25px;
    }

    /*product details page end*/
}

/*Wide Mobile Layout: 480px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .promo-cont:after {
        top: -126px;
        height: 150%;
        width: 140%;
        left: -60px;
    }

    ul.mobile-menu {
        height: 85%;
    }
    .new-arrival {
        width: 100%;
        top: 38px;
        left: -56px;
    }

    .single-product-item:hover .wishlist {
        left: 3%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .wishlist {
        left: 3%;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .single-product-item:hover .compare {
        right: 0;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .compare {
        right: 0;
        font-size: 20px;
        color: var(--theme-color);
        z-index: 1;
    }

    .single-post {
        margin: 30px 10px;
    }

    .theme-btn.text-right {
        text-align: right !important;
    }

    .product-title h4 {
        font-size: 18px;
    }

    .post-meta ul li {
        font-size: 12px;
        padding: 0;
    }

    .post-meta ul li i.fa {
        font-size: 13px;
        margin: initial;
    }

    .post-title h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .post-excerpt p {
        font-size: 16px;
    }

    .single-slide-item {
        height: 65vh;
    }
}