/*
footer start*/
footer{
  background: $secondary;
  padding-top: 30px;
  .service-info{
    .d-time{
      p{
        margin-right: 10px;
        img{
          width: 40px;
        }
      }
    }
    .d-offer{
      p{
        text-transform: capitalize;
        img{
          width: 40px;
        }
      }
    }
  }
  .f-w-title{
    h5{
      font-size: 1.1em;
    }
  }
  .about-info{
    margin-bottom: 10px;
  }
  .payment-option{
    ul{
      text-align: right;
      li{
        display: inline-block;
        text-transform: capitalize;
        /*span{
          width: max-content;
          display: block;
        }*/
        a{
          display: block;
          width: 40px;
        }
      }
    }
  }
  .apps-info{
    padding: 30px 0;
    img{
      width: 90%;
    }
  }
  .c-info{
    p.phone{
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 600;
      img{
        margin-right: 10px;
      }
    }
    p{
      font-size: 1em;
      font-weight: bold;
      span{
        font-weight: normal;
      }
    }
  }
  .f-social-link{
    ul{
      li{
        a{
          img{
            width: 15%;
          }
        }
      }
    }
  }
  .footer-bottom{
    background: darkorange;
    margin-top: 15px;
    p{
      text-transform: capitalize;
      color: $dark;
      font-size: 1.1em;
      padding: 12px;
      img{
        width: 100px;
      }
    }
  }
}
/*
footer end*/
/*mobile footer start*/
section.mobile-footer {
  position: fixed;
  background: #FF6F71;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mchat-wrapper {
  width: 20%;
  background: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 1.5em;
}

.shopping-btn {
  width: 60%;
  text-align: center;
}

.shopping-btn a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5em;
  padding: 15px 10px;
}

.mcart-wrapper {
  text-align: center;
  width: 20%;
  background: #fff;
  position: relative;
}

.mcart-wrapper i {
  padding: 15px 10px;
  font-size: 1.5em;
}

.mcart-wrapper span {
  position: absolute;
  width: 30px;
  height: 30px;
  font-weight: 700;
  color: #FF6F71;
  right: 10px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 1.3em;
}
/*mobile footer end*/