/*left sidebar start*/
.left-sidebar{
  h5{
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 600;
  }
  ul{
    li{
      a{
        text-transform: capitalize;
        font-weight: 400;
      }
    }
  }
  form{
    span{
      text-transform: capitalize;
      color: #000;
    }
  }
}
/*left sidebar end*/